body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://hdpic.club/uploads/posts/2021-11/1636787520_27-hdpic-club-p-poezd-030-71.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.routes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.route-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.route-button:hover {
    background-color: #0056b3;
}

.info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.info-item {
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    color: #555;
}

.info-value {
    font-size: 18px;
    color: #333;
    margin-top: 5px;
}

#search-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #218838;
}

.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

#trains-table {
    width: 100%;
    border-collapse: collapse;
}

#trains-table th, #trains-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#trains-table th {
    background-color: #f2f2f2;
    color: #333;
}

#trains-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#trains-table tr:hover {
    background-color: #f1f1f1;
}
